extends /_layout/layout.pug

block variables
  - pageTitle = "Auto Ribbon"
  - parentTitle = "Ribbon"

block content
  .ribbon.ribbon--alpha.ribbon--auto(role="navigation" aria-label="breadcrumbs")
    a(href="https://www.silvestar.codes/" class="ribbon__element") Home
    a(href="https://www.silvestar.codes/categories/articles/" class="ribbon__element") Blog
    a(href="https://www.silvestar.codes/articles/building-an-animated-sticky-header-with-custom-offset/" class="ribbon__element" aria-current="page") Post

  :markdown-it(html)
    # Auto Ribbon

    An auto ribbon has elements that doesn't fill out the entire available space. Don't forget to add `ribbon--alpha`, `ribbon--beta` or `ribbon--gamma` modifier.

    Modifier: `.ribbon--auto`.

    The HTML structure:

    ```html
    <nav class="ribbon ribbon--alpha ribbon--auto" role="navigation" aria-label="breadcrumbs">
      <a class="ribbon__element" href="https://www.silvestar.codes/">Home</a>
      <a class="ribbon__element" href="https://www.silvestar.codes/categories/articles/">Blog</a>
      <a class="ribbon__element" href="https://www.silvestar.codes/articles/building-an-animated-sticky-header-with-custom-offset/" aria-current="page">Post</a>
    </nav>
    ```

    The CSS code:

    ```css
    /* Define full width ribbon elements */
    .ribbon--auto {
      grid-template-columns: repeat(3, 1fr) 1em;
    }
    ```

  include ../_partials/ribbon-list.pug
