extends /_layout/layout.pug

block variables
  - pageTitle = "SVG Ribbon"

block content
  :markdown-it(html)
    # Shadow Ribbon

  include ../_partials/ribbon-list.pug

  .ribbon.ribbon--alpha.ribbon--shadow(role="navigation" aria-label="breadcrumbs")
    a(href="https://www.silvestar.codes/" class="ribbon__element") Home
    a(href="https://www.silvestar.codes/categories/articles/" class="ribbon__element") Blog
    a(href="https://www.silvestar.codes/articles/building-an-animated-sticky-header-with-custom-offset/" class="ribbon__element" aria-current="page") Post
