extends /_layout/layout.pug

block variables
  - pageTitle = "Home"

block content
  :markdown-it(html)
    # SB Playground

    Welcome to the SB Playground, the place where you could explore all my recent work-in-progress projects, ideas, and demos.

    If you like my work, feel free to [contact me](https://www.silvestar.codes/about-me/), [see my porfolio](https://www.silvestar.codes/portfolio/) or [download my CV here](https://www.silvestar.codes/portfolio/silvestar-bistrovic-cv.pdf).

    Demos:
    - [Ribbon](/ribbon/)
