block variables

header.header
  h1 SB Playground

  h5 A showcase of demos, examples, and code snippets of one #[a(href='//www.silvestar.codes') SB].

  h5 The source code for the site could be found #[a(href="https://github.com/maliMirkec/sb-playground") here].
