ul
  li
    a(href="/ribbon/alpha/") Alpha
  li
    a(href="/ribbon/beta/") Beta
  li
    a(href="/ribbon/gamma/") Gamma
  li
    a(href="/ribbon/shadow/") Shadow
  li
    a(href="/ribbon/gradient/") Gradient
  li
    a(href="/ribbon/shadow-gradient/") Shadow Gradient
  li
    a(href="/ribbon/small/") Small
  li
    a(href="/ribbon/big/") Big
