div
  p A ribbon component showed in these examples should be used as a breadcrumb element. However, if you want to use it for something else, be sure to update or remove the aria attributes. The HTML code for accessible breadcrumbs could be found #[a(href="https://a11y-style-guide.com/style-guide/section-navigation.html" target="_blank" rel="noopener") on the A11y Style Guide website], under Option #2.
  p See the full list of ribbon modifiers below:
  ul
    li
      a(href="/ribbon/alpha/") Alpha
    li
      a(href="/ribbon/beta/") Beta
    li
      a(href="/ribbon/gamma/") Gamma
    li
      a(href="/ribbon/shadow/") Shadow
    li
      a(href="/ribbon/gradient/") Gradient
    li
      a(href="/ribbon/shadow-gradient/") Shadow Gradient
    li
      a(href="/ribbon/small/") Small
    li
      a(href="/ribbon/big/") Big
    li
      a(href="/ribbon/auto/") Auto
